* {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

#header {
    background-color: black;
    margin: 0px;
}

.topimg {
    height: 100px;
}

#egoheader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    background-color: black;
    color: white;
}

#text-band {
    padding-top: 10px;
    padding-bottom: 70px;
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Courier New', 'Arial Narrow', Arial, sans-serif;
}

.date {
    background-color: black;
    color: grey;
    margin-bottom: 0px;
    padding: 100px;
    padding-bottom: 50px;
}

.row {
    display: flex;
    background-color: black;
}

.column {
    flex: 50%;
    background-color: black;
    color: grey;
    padding: 100px;
    padding-top: 50px;
}

.fka-video {
    padding-left: 100px;
    background-color: black;
}

.fka-video-text {
    background-color: black;
    color: grey;
    padding-left: 200px;
    padding-right: 200px;
}

.march-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 100px;
    padding-top: 50px;
    
    height: 300px;
    background-color: black;
    color: white;
}

.march-item {
    border-width: 3px;
    border-style: double;
    border-color: grey;
    padding: 25px;
    flex-grow: 1;
}



.march-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    background-color: black;
}